@import "colors";

#posts_wrapper{
	padding: 3em 0;
	.post{
		text-align: center;
		.date{
			font-size: .9em;
			margin: 0;
		}
		
		h2{
			margin: 0;
			font-size: 2em;
			text-transform: uppercase;
			a{
				text-decoration: none;
				color: $dark;
				&:hover{
					color:$highlight;
				}
			}
		}
		hr{
			margin: 3em auto;
		}

	}
}

.date{
			font-size: .9em;
			color: $light;
			margin: 0;
			color: $color4;
		}


#post_show_content{
	header{
		text-align: center;
		.date{
			font-size: .9em;
			color: $light;
			margin: 0;
			color: $color4;
		}
		.subtitulo{
			font-size: .9em;
			margin: 0;
			color: $color2;
		}
		h1{
			margin: 0;
			color: $color5;
		}
	}
	h2{
		font-size: 1.9em;
		font-style: bold;
	}
	hr{
		margin: 2em auto;
	}
}

.article_content{
		background-color: $color2;
		
		.img_article{
			background-color: $color4;
		}
		.article_patron{
			//background-color: $color4;
			color: $color6;
			margin-bottom: 20px;
		}
}
	
#share_box{
	text-align: center;
	p{
		padding: 0 0 1em 0;
		margin: 0;
		font-weight: 700;
		text-transform: uppercase;
		color: $dark;
		font-size: .8em;
	}
	i{
		color: $dark;
		padding: 1em 1.5em;
		&:hover{
			color: $highlight;
			cursor: pointer;
		}
	}
}

.article-actions{
	text-align: center;
	a{
		padding: .75em 1em;
		margin: 0 .5em;
		border-radius: .15em;
		line-height: 20px;
		text-decoration: none;
		color: $color2;
		font-weight: 700;
		font-size: .7em;
		font-style: normal;
		&:hover{
			background: $color2;
			color: $color3;
			text-decoration: none;
		}
	}
	
}