@import "bootstrap-sprockets";
@import "bootstrap";
@import "colors";
@import "pygments";

@grid-float-breakpoint = 700px;

body{
  font-family:"Raleway";
}
.navbar li a{
  color:$navbarFG;
  
}
.navbar li a:hover{
  color:$navbarFG;
  background-color:$navbarBG;
}
#logo {
  float: left;
  font-size: 1.7vw;
  color: $superlight;
  //text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}
.navbar-brand{
}
#logo:hover{
  color: $light;
  text-decoration: none;
  background-color:$navbarBG;
}
	

h1,h2,h3,h4,h5,h6,p,ul,li{
	color: $color6;
}
h1{
	font-size: 3.5rem;
}
h2{
	font-size: 3rem;
}
h3{
	font-size: 2.75rem;
}
h4{
	font-size: 2.375rem;
}
h5{
	font-size: 2.25rem;
}
h6{
	font-size: 1.8rem;
}
hr{
	width: 3em;
	display: block;
	height: 2px;
	border: 0;
	border-top: 2px solid $color5;
	margin: 2rem 0;
}
p, li{
	font-size: 1.4rem;
	line-height: 1.75;
}
p,ul,ol{
	margin: 0 0 1.6em 0;
}
.wrapper_padding{
	padding: 4rem 0;
}
.skinny_wrapper{
	margin: 0 auto;
}
.clearfix:before, .clearfix:after{
	content: " ";
	display: table;
}
.clearfix:after{
	clear: both;
}
.containerX{
	margin-bottom: 70px;
}
#main_navigation{

	padding: 3em;
	.name{
		margin: 0;
		font-weight: 700;
		font-size: .85em;
		letter-spacing: 4px;
		text-transform: uppercase;
		border: 2px solid $navbarFG;
		padding: 1rem;
		text-decoration: none;
		color: $navbarFG;
	}
	.navbar{
		padding: 0;
		padding-top: 1.5rem;
		padding-bottom: 1.5rem;
		margin-bottom: 1.5rem;
		background-color: $navbarBG;
		border-bottom: 1px solid $navbarFG;
		a{
			color: $navbarFG;
			text-decoration: none;
			margin: 0 0rem;
			font-size: 1.8rem;
			&:hover{
				color: $color3;
			}
			
		}
		ul{
			float: right;
		}
	}
	.navbar-toggle{
	  background-color: $navbarFG;
	  border-color: $navbarBG;
	}
	.icon-bar{
	  background-color: $navbarBG;
	}
}
.open{
    color: #300;
    
    background: #fff;
}
.dropdown-menu{
	background: $color2;
}
.dropdown-menu li{
	background: $color2;
}
#page_title{
	text-align: center;
	border-bottom: 1px solid $border;
	padding: 1.1em 0;
	font-size: 2rem;
	text-transform: uppercase;
}


#main_footer{
	padding: 2.5em;
	border-top: 1px solid $border;
	
	.copyright{
		float: left;
		color: $color5;
		font-size: .9em;
		margin: 0;
	}
	nav{
		float: right;
		i{
			color: $color5;
			margin-left: 1em;
			padding-top: .2em;
			&:hover{
				color:$color4;
			}
		}
	}
}


.form_signup{
	background-color: $color2;
	padding-top: 40px;
	padding-bottom: 40px;
	border-radius: 40px;
	margin-bottom: 20px;
	margin-top: 20px;
}
.avatar{
	width: 100%;
	border: 3px solid $border;
}
h1{
	font-size: 2.3em;
	color:$color5;
}
.inicio{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 30px;
}

.listing {
list-style: none;
padding-left: 0;
}


.pagination:before,
.pagination:after {
	content: " ";
	display: table;
}
.pagination:after{
	clear: box;
}
.pagination {
	text-align: center;
	width: 100%;
	margin: 0 0 3em 0;
	a, .previous_page, .current, .next_page{
		padding: .75em 1em;
		margin: 0 .25em;
		border-radius: .15em;
		line-height: 20px;
		text-decoration: none;
		background: $white;
		font-weight: 700;
		font-size: .7em;
		font-style: normal;
		color: $color2;
		&:hover{
			background: $color2;
			color: $white;
		}
	}
	.current{
		background: $white;
		color: $color4;
	}
	.disabled {
		color: #c0c0c0;
		&:hover{
			color: #c0c0c0;
			background: $white;
		}
	}
}
.badgex{
	color: $color6;
		background: $white;
		font-weight: 700;
		font-size: .8em;
		font-style: normal;
	margin-top: 6px;
}

.badge {
	background: $white;
	color: $color3;
	a, .previous_page, .current, .next_page{
		padding: .5em 1em;
		margin: 0 .2em;
		border-radius: .15em;
		line-height: 10px;
		text-decoration: none;
		background: $white;
		font-weight: 700;
		font-size: .8em;
		font-style: normal;
		color: $color5;
		&:hover{
			background: $color2;
			color: $white;
		}
	}
}
.input_checkbox input{
	width: auto !important;
}
.tituloCategoria{
	text-align: center;
	a{
		color: $color5;
	}
	a, a:hover{
		text-decoration: none;
	}
}